import fileinput


def get_input():
    return list(filter(None, s.removesuffix('\n') for s in fileinput.input()))


def part1(data):
    pass


def part2(data):
    pass


if __name__ == '__main__':
    indata = get_input()

    print(part1(indata))
    print(part2(indata))
